.post-pagination {
    margin-top: 50px;
    display: flex;
    justify-content: center;

    .pagination {
        display: flex;

        .pagination__item {
            padding: 5px;
            border: 1px solid teal;
            border-radius: 4px;
            width: 35px;

            font-size: 18px;
            text-align: center;
            cursor: pointer;
        }

        .pagination__item:not(:first-child):not(:only-child) {
            margin-left: 15px;
        }

        .pagination__item_current {
            background: lightblue;
        }
    }
}